{% extends 'base.html' %}

{% block content %}

    <div style = 'margin: 2rem; text-align: center'>
        <h1>METHOD</h1>

        <!-- post로 보내려면 form 사용해야 된다. + method='host' 설정도 필요 안하면 GET으로 감. 이외에 기본적인 접근은 GET 방식 -->
        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <!-- 버튼에 csrf 연결해주는 것 -->
            <input type="submit" class="btn btn-primary rounded-pill px-4">
            <!-- class=~ : bootstrap에서 class 부분만 긁어와서 사용하면 된다. -->
            <!-- rounded-pill : 버튼을 둥글게 -->
            <!-- px-4 : padding 을 쉽게 줄 수 있는 방법 - bootstrap의 방식 -->
            <!-- input type='submit' : button 생성 -->
        </form>

        <h3>{{ text }}</h3>
    </div>

{% endblock %}
