.progmatic_header_logo {
    margin: 2rem 0;
    font-family: 'Permanent Marker', cursive;
}

.progmatic_header_button {
    margin-bottom: 2rem;
}

.progmatic_footer_logo {
    margin: 1.5rem 0;
    font-family: 'Permanent Marker', cursive;
}

.progmatic_footer_button {
    margin : 1.5rem 0;
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}