<div style="text-align: center">
    <!-- border-radius : 모서리를 둥글게 -->
    <div class = 'progmatic_header_logo'>
        {# bass.css에 class를 만들어서 서로 연결시켜준다. 이 연결시키는 내용은 head.html에 입력. #}
        <!-- 2rem 0 : 2는 상하의 여백, 0은 좌우의 여백 -->
        <!-- 모종의 이유로 Permanent Marker 글꼴이 설정되지 않으면 cursive라는 글꼴을 사용하라는 뜻 -->
        <h1>What the...</h1>
    </div>
    <div class = 'progmatic_header_button'>
        <span>nav1</span>
        <span>nav2</span>
        {% if not user.is_authenticated %}
        <span>
            <a href="{% url 'accountapp:login' %}">
                Login
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:create' %}">
                Sign up
            </a>
        </span>
        {% else %}
        <span>
            <a href='{% url 'accountapp:logout' %}'>
                Logout
            </a>
        </span>
        {% endif %}
        <!-- span은 좌우로 나열되는 tag. 보통 버튼에 사용 -->
    </div>
</div>